/* nav区域  */
	#navBar {
		display: block;
		width: 100vw;
        height: 15vw;
        border-bottom: 1px solid #74D4EB;
        color: white;
	}
    #navBar p {
        display: inline-block;
        width: 67vw;
        margin: 5vw auto;
        font-size: 7vw;
        text-align: center;
    }
    #navBar a {
        margin: 3.5vw;
    }
    #navBar a img {
        height: 8vw;
    }
    #navBar a img:hover {
        animation: navAnimation 0.5s linear;
        -moz-animation: navAnimation 0.5s linear; /* Firefox */
        -webkit-animation: navAnimation 0.5s linear;  /* Safari 和 Chrome */
        -o-animation: navAnimation 0.5s linear;   /* Opera */
    }
    #menu {
        float: left;
    }
    #close {
        float: right;
    }

/* tapsArea区域 */
    #tapsArea {
        width: 100vw;
    }
    #taps-detail {
        display: block;
        color: black;
        height: 15vw;
        animation: tapAnimation 0.3s ease-in-out;
        -moz-animation: tapAnimation 0.3s ease-in-out; /* Firefox */
        -webkit-animation: tapAnimation 0.3s ease-in-out;  /* Safari 和 Chrome */
        -o-animation: tapAnimation 0.3s ease-in-out;   /* Opera */
    }
    #taps-detail p {
        position: absolute;
        margin: 4vw 0 4vw 6vw;
        font-size: 4.5vw;
        z-index: 2;
    }
    #background  {
        position: absolute;
        left: 0;
        width: 100vw;
        z-index: 1;
    }
    #play {
        position: absolute;
        right: 0;
        width: 9vw;
        z-index: 3;
        margin: 1.5vw;
    }
    #taps {
        display: block;
        color: white;
    }
    #taps p {
        font-size: 4vw;
        margin-left: 10vw;
        margin-top: 2vw;
        margin-bottom: 4vw;
    }

/* footer区域 */
    #footer {
        position: fixed;
        width: 100vw;
        bottom: 0;
        text-align: center;
    }

    #middleButton {
        display: inline-block;
        background-color: #FBB435;
        color: white;
        font-size: 7vw;
        padding: 2vw 30vw;
        margin: 4vw auto;
        opacity: 1;
        z-index: 4;
    }
    #box {
        position: fixed;
        width: 100vw;
        bottom: 0;
        height: 19vw;
        background-color: #29BDE0;
        opacity: 1;
        border-top: 0.3vw solid white;
    }
    @keyframes tapAnimation {
        from {transform: translate(0,10vw);opacity: 0;}
        to {transform: translate(0,0);opacity: 1;}
    }
    @-moz-keyframes tapAnimation {
        from {transform: translate(0,10vw);opacity: 0;}
        to {transform: translate(0,0);opacity: 1;}
    }
    @-webkit-keyframes tapAnimation {
        from {-webkit-transform: translate(0,10vw);opacity: 0;}
        to {-webkit-transform: translate(0,0);opacity: 1;}
    }
    @-o-keyframes tapAnimation {
        from {transform: translate(0,10vw);opacity: 0;}
        to {transform: translate(0,0);opacity: 1;}
    }

    @keyframes navAnimation {
        from {trasform: rotate(0deg);}
        to {transform: rotate(360deg);}
    }
    @-moz-keyframes navAnimation {
        from {trasform: rotate(0deg);}
        to {transform: rotate(360deg);}
    }
    @-webkit-keyframes navAnimation {
        from {-webjkit-trasform: rotate(0deg);}
        to {-webkit-transform: rotate(360deg);}
    }
    @-o-keyframes navAnimation {
        from {trasform: rotate(0deg);}
        to {transform: rotate(360deg);}
    }