.fangxiang ul {
	list-style-type: none;
	height: 61px;
	line-height: 61px;
	border-bottom: 1px solid #EDF1F2;
	margin-left: -15px;
	margin-right: -15px;
}
.fangxiang li {
	display: inline-block;
}
.mianbaoxie {
	height: 8rem;
	padding-top: 3.2rem;
	border-bottom: 1px solid #EAEAEA;
	font-size: 14px;
}
#front-end {

}
.fangxiang-title {
	width: 100%;
	line-height: 60px;
	height: 60px;
	border-bottom: 1px solid #D0D6D9;
	font-size: 16px;
}
.career-container {
	margin-top: 47px;
	padding-left: 15px;
	padding-right: 15px;
}
.career {
	clear: both;
	margin: 0 auto;
	width: 400px;
}
.career-box {
	float: left;
	box-shadow: 1px 2px 3px #D0D6D9;
	background-color: white;
}
.box-content {
	border: 1px solid #EDF1F2;
	padding-top: 15px;
}
.box-content>div {
	padding-left: 15px;
}
.box-content-style {
}
.box-content-style span {
	color: red;
}
.box-content-style1 {
	padding-top: 15px;
	color: black;
}
#test {
	clear: both;
}
.box-content-style1 img {
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
}
.box-content-style1 b {
	display: block;
	margin-top: 15px;
	margin-bottom: 8px;
	font-size: 16px;
}
.box-content-style1 p,.box-content b {
	margin-left: 15px;
	margin-right: 15px;
}
.box-content-style2 {
	color: #A9A9A9;
	border-top: 1px solid #EAEAEA;
	line-height: 41px;
}
.box-content-style2 p {
	display: inline-block;
	width: 180px;
	margin-bottom: 0px;
	padding-left: 5px;
}
.box-content-style2 p:first-child {
	border-right: 1px solid #EAEAEA;
}
.box-content-style3 {
	color: #A9A9A9;
	line-height: 41px;
}
.box-content-style3 div {
	float: left;
	width: 250px;
	line-height: 42px;
	border-top: 1px solid #EAEAEA;
	padding-left: 5px;
	padding-right: 5px;
}
.box-content-style3 p {
	display: inline-block;
	padding-left: 5px;
	margin-bottom: 0;
}
.box-content-style3 div p:nth-of-type(2) {
	float: right;
}
.box-content-style3 div:first-child {
	display: inline-block;
	width: 148px;
	line-height: 130px;
	border-right: 1px solid #EAEAEA;
	text-align: center;
	margin-left: -15px;
	border-top: 0;
}
.box-content-style3 div:nth-of-type(1) {
	border-top: 0;
}


