.container-fluid {
	background-color: #FAFAFA;
}
.career {
	background-color: white;
	box-shadow: #EDEDED 0px 2px 3px;
}
.content-row {
	max-width: 1200px;
	margin: 0 auto;
}
.nav-row, 
.footer-row {
	background-color: #29b078;
}
.header-row {
	color: #29b078;
}
.right-align {
	text-align: right;
}
.center-align {
	text-align: center;
}
.career-tbcell1 {
	float: left;
	width: 50%;
	border-right: 1px solid #EDF1F2;
	border-top: 1px solid #EDF1F2;
}
.career-tbcell2 {
	float: left;
	width: 40%;
	border-right: 1px solid #EDF1F2;
}
.career-tbcell3 {
	float: left;
	width: 60%;
}
.career-tbcell3 p {
	width: 100%;
}