.container-fluid {
	background-color: #FAFAFA;
}

.content-row {
	max-width: 1200px;
	margin: 0 auto;
}
.nav-row, 
.footer-row {
	background-color: #29b078;
	height: 97px;
}
.header-row {
	color: #29b078;
	height: 50px;
}
.right-align {
	text-align: right;
}
.center-align {
	text-align: center;
}
/*.career {
	margin-top: 47px;
	height: 498px;
}
.career-box {
	margin: 0 auto;
	max-width: 380px;
	background-color: white;
	box-shadow: #EDEDED 0px 2px 3px;
}
.career-tbcell1 {
	float: left;
	width: 50%;
	border-right: 1px solid #EDF1F2;
	border-top: 1px solid #EDF1F2;
}
.career-tbcell2 {
	float: left;
	width: 40%;
	border-right: 1px solid #EDF1F2;
}
.career-tbcell3 {
	float: left;
	width: 60%;
}
.career-photo {
	display: inline-block;
	width: 40%;
	height: 30%;
	margin: 7.5px;
	vertical-align: top;
	overflow: hidden;
	background-image: url(../img/photo.jpg);
}
.career-photo {
	overflow: hidden;
}
.career-intro {
	display: inline-block;
	width: 50%;
	margin: 7.5px 7.5px 7.5px 0;
	font-size: 14px;
}
label {
	font-size: 16px;
}
.career-tbcell3 p {
	width: 100%;
}
*/
